/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Styling starts here */

.main {
	width: 760px;
	margin: 0 auto;
	
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 150%;
	
}
/* Header */
.header {
	text-align: center;
	background-color: #D18C1D;
	
} 
.header h1 {
	text-decoration: none;
	font-size: 30px;
	padding: 10px;
	border: 1px solid red;
	margin-right: 150px;
}

/* Paragraph */
.paragraph {
	width: 600px;
	height: 400px;
	border: 2px dotted black;
	background-color: #D1D631;
	word-spacing: 12px;
	margin: 50px 0;
	
}
/* Image */

.image img {
	display: block;
	width: 600px;
	height: 600px;
	margin: 50px 0;

}

.circle {
	width: 600px;
	height: 600px;
	border-radius: 50%;
	background-color: skyblue;
	margin: 50px 0;
	
}

/* Footer */
.footer {
	text-align: center;
	margin-right: 150px;
	margin-bottom: 100px;
}
.nav a {
	text-align: center;
	border-bottom: 3px dashed blue;
	background-color: #a1a1a1;
	margin: 10px;
	letter-spacing: 2px;
}	
















